services:
  shiori:
    build:
      context: .
      dockerfile: Dockerfile.compose
    container_name: shiori
    command:
      - "server"
      - "--log-level"
      - "debug"
    ports:
      - "8401:8401"
    volumes:
      - shiori-srv:/srv/shiori
      - shiori-src:/src/shiori
      - shiori-go-mod-cache:/go/pkg/mod
    restart: unless-stopped
    links:
      - "postgres"
      - "mariadb"
    environment:
      SHIORI_DIR: /srv/shiori
      # SHIORI_HTTP_ROOT_PATH: /shiori/
      SHIORI_DATABASE_URL: mysql://shiori:shiori@(mariadb)/shiori?charset=utf8mb4
      # SHIORI_DATABASE_URL: postgres://shiori:shiori@postgres/shiori?sslmode=disable

  nginx:
    image: nginx:alpine
    ports:
      - "401:401"
    volumes:
      - shiori-nginx:/etc/nginx
    depends_on:
      - shiori

  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: shiori
      POSTGRES_USER: shiori
    ports:
      - "5432:5432"
    volumes:
      - shiori-postgresql:/var/lib/postgresql/data

  mariadb:
    image: mariadb:11
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: shiori
      MYSQL_USER: shiori
      MYSQL_PASSWORD: shiori
    ports:
      - "3306:3306"
    volumes:
      - shiori-mariadb:/var/lib/mysql

  mysql:
    image: mysql:8.0.40
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: shiori
      MYSQL_USER: shiori
      MYSQL_PASSWORD: shiori
    ports:
      - "3307:3306"
    volumes:
      - shiori-mysql:/var/lib/mysql

volumes:
  shiori-srv:
    external: true
  shiori-src:
    external: true
  shiori-go-mod-cache:
    external: true
  shiori-postgresql:
    external: true
  shiori-mariadb:
    external: true
  shiori-nginx:
    external: true
  shiori-mysql:
    external: true
